<footer class="footer-container">
  <div class="footer-block">
    <a href="/" aria-label="{{ site.name }} home">
      <img src="/assets/images/fenderslogo.svg" alt="Fenders" class="footer-logo" width="120" height="94" />
    </a>
  </div>

  <mandys-webring site="https://mandy.dev"></mandys-webring>

  <div class="footer-links">
    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-item"><a href="/articles/" class="footer-nav-link">Articles</a></li>
        <li class="footer-nav-item"><a href="/my-other-sites/" class="footer-nav-link">My Other Sites</a></li>
        <li class="footer-nav-item"><a href="/about/" class="footer-nav-link">About</a></li>
        <li class="footer-nav-item"><a href="https://www.linkedin.com/in/mandykerr" target="_blank" class="footer-nav-link">Contact</a></li>
      </ul>
    </nav>
    <div class="footer-footnote">
      <p class="footer-creator">A <a href="https://mandy.dev">Mandy Michael</a> production</p>
    </div>
  </div>
</footer>
